.navbar{
    background-color: rgb(16 51 85) !important;
}
.navbar a{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.navbar a:hover{
    color: white;
    transform: scale(1.08);
}
.collapse{
    text-align: center;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
}
.cart{
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
    margin: auto;
}
.cart:hover{
    cursor: pointer;
    transform: scale(1.1);
}
